@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --text-color: #000000;
  --background-color: #ffffff;  
  --emph-color: #162751;
}

* {
  font-family: "Fira Sans";
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 10vh;

  border-bottom: 1px black solid;
}

header {
  width: 50%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--emph-color);
}

.page-container {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  color: var(--emph-color);
  text-align: center;
}

.center-container {
  text-align: center;
}

.center-container p {
  font-weight: bold;
  color: var(--emph-color);
  font-size: 2em;
}